/* Tables */

#mumble-widget-container table {
  display: table;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #e5e5e5;
}

#mumble-widget-container table caption {
  text-align: center;
  font-size: 30px;
  padding: .75em;
}

#mumble-widget-container table thead th,
#mumble-widget-container table tbody td,
#mumble-widget-container table tr td {
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  text-align: left;
  border-top: 1px solid #e5e5e5;
}

#mumble-widget-container table tr td,
#mumble-widget-container table tbody tr td {
  font-size: 16px;
}

#mumble-widget-container table tr td:first-child {
  font-weight: bold;
}

#mumble-widget-container table thead {
  background-color: #3085d6;
  color: #fff;
}

#mumble-widget-container table thead a {
  color: #fff;
  text-decoration: none;
}

#mumble-widget-container table thead a:hover {
  text-decoration: underline;
}

#mumble-widget-container table thead tr th {
  font-size: 16px;
  font-weight: bold;
  vertical-align: bottom;
}

#mumble-widget-container table.striped tr:nth-of-type(even),
#mumble-widget-container table table tr.stripe,
#mumble-widget-container table table tr.striped {
  background-color: #e5e5e5;
}

#mumble-widget-container table.rounded {
  border-radius: 4px;
  border-collapse: separate;
}

#mumble-widget-container table.rounded caption + thead tr:first-child th:first-child,
#mumble-widget-container table.rounded caption + tr td:first-child,
#mumble-widget-container table.rounded > thead tr:first-child th:first-child,
#mumble-widget-container table.rounded > thead tr:first-child td:first-child,
#mumble-widget-container table.rounded > tr:first-child td:first-child {
  border-top-left-radius: 4px;
}

#mumble-widget-container table.rounded caption + thead tr:first-child th:last-child,
#mumble-widget-container table.rounded caption + tr td:last-child,
#mumble-widget-container table.rounded > thead tr:first-child th:last-child,
#mumble-widget-container table.rounded > thead tr:first-child td:last-child,
#mumble-widget-container table.rounded > tr:first-child td:last-child {
  border-top-right-radius: 4px;
}

#mumble-widget-container table.rounded thead ~ tr:last-child td:last-child,
#mumble-widget-container table.rounded tbody tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

#mumble-widget-container table.rounded thead ~ tr:last-child td:first-child,
#mumble-widget-container table.rounded tbody tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

#mumble-widget-container table.rounded thead th,
#mumble-widget-container table.rounded thead td,
#mumble-widget-container table.rounded caption + tbody tr:first-child td,
#mumble-widget-container table.rounded > tbody:first-child tr:first-child td {
  border-top: 0;
}

#mumble-widget-container table .subchannels {
  background: #42B8DD;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

#mumble-widget-container .mute-on,
#mumble-widget-container .deaf-on,
#mumble-widget-container .self-mute-on,
#mumble-widget-container .self-deaf-on,
#mumble-widget-container .priority-speaker-on,
#mumble-widget-container .recording-on {
  color: #999;
  float: right;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  width: 24px;
  height: 24px;
}

#mumble-widget-container .deaf-on,
#mumble-widget-container .self-deaf-on {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMjgwIDM1MnYxMDg4cTAgMjYtMTkgNDV0LTQ1IDE5LTQ1LTE5bC0zMzMtMzMzaC0yNjJxLTI2IDAtNDUtMTl0LTE5LTQ1di0zODRxMC0yNiAxOS00NXQ0NS0xOWgyNjJsMzMzLTMzM3ExOS0xOSA0NS0xOXQ0NSAxOSAxOSA0NXoiLz48L3N2Zz4=);
}

#mumble-widget-container .mute-on,
#mumble-widget-container .self-mute-on {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik00NjMgOTQ1bC0xMDEgMTAxcS00Mi0xMDMtNDItMjE0di0xMjhxMC0yNiAxOS00NXQ0NS0xOSA0NSAxOSAxOSA0NXYxMjhxMCA1MyAxNSAxMTN6bTExMTQtNjAybC0zNjEgMzYxdjEyOHEwIDEzMi05NCAyMjZ0LTIyNiA5NHEtNTUgMC0xMDktMTlsLTk2IDk2cTk3IDUxIDIwNSA1MSAxODUgMCAzMTYuNS0xMzEuNXQxMzEuNS0zMTYuNXYtMTI4cTAtMjYgMTktNDV0NDUtMTkgNDUgMTkgMTkgNDV2MTI4cTAgMjIxLTE0Ny41IDM4NC41dC0zNjQuNSAxODcuNXYxMzJoMjU2cTI2IDAgNDUgMTl0MTkgNDUtMTkgNDUtNDUgMTloLTY0MHEtMjYgMC00NS0xOXQtMTktNDUgMTktNDUgNDUtMTloMjU2di0xMzJxLTEyNS0xMy0yMzUtODFsLTI1NCAyNTRxLTEwIDEwLTIzIDEwdC0yMy0xMGwtODItODJxLTEwLTEwLTEwLTIzdDEwLTIzbDEyMzQtMTIzNHExMC0xMCAyMy0xMHQyMyAxMGw4MiA4MnExMCAxMCAxMCAyM3QtMTAgMjN6bS0zODAtMTMybC02MjEgNjIxdi01MTJxMC0xMzIgOTQtMjI2dDIyNi05NHExMDIgMCAxODQuNSA1OXQxMTYuNSAxNTJ6Ii8+PC9zdmc+);
}

#mumble-widget-container .priority-speaker-on {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNzI4IDY0N3EwIDIyLTI2IDQ4bC0zNjMgMzU0IDg2IDUwMHExIDcgMSAyMCAwIDIxLTEwLjUgMzUuNXQtMzAuNSAxNC41cS0xOSAwLTQwLTEybC00NDktMjM2LTQ0OSAyMzZxLTIyIDEyLTQwIDEyLTIxIDAtMzEuNS0xNC41dC0xMC41LTM1LjVxMC02IDItMjBsODYtNTAwLTM2NC0zNTRxLTI1LTI3LTI1LTQ4IDAtMzcgNTYtNDZsNTAyLTczIDIyNS00NTVxMTktNDEgNDktNDF0NDkgNDFsMjI1IDQ1NSA1MDIgNzNxNTYgOSA1NiA0NnoiLz48L3N2Zz4=);
}

#mumble-widget-container .recording-on:after {
  color: red;
  content: '\2022';
  font-size: 20px;
}

/*
 *
 * Themes */


/* Grayscale */
#mumble-widget-container.grayscale table {
  background-color: lightgray;
}

#mumble-widget-container.grayscale table .subchannels {
  background: gray;
}

#mumble-widget-container.grayscale table thead {
  background-color: gray;
  color: #fff;
}

#mumble-widget-container.grayscale .deaf-on,
#mumble-widget-container.grayscale .self-deaf-on {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMjgwIDM1MnYxMDg4cTAgMjYtMTkgNDV0LTQ1IDE5LTQ1LTE5bC0zMzMtMzMzaC0yNjJxLTI2IDAtNDUtMTl0LTE5LTQ1di0zODRxMC0yNiAxOS00NXQ0NS0xOWgyNjJsMzMzLTMzM3ExOS0xOSA0NS0xOXQ0NSAxOSAxOSA0NXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
}

#mumble-widget-container.grayscale .mute-on,
#mumble-widget-container.grayscale .self-mute-on {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik00NjMgOTQ1bC0xMDEgMTAxcS00Mi0xMDMtNDItMjE0di0xMjhxMC0yNiAxOS00NXQ0NS0xOSA0NSAxOSAxOSA0NXYxMjhxMCA1MyAxNSAxMTN6bTExMTQtNjAybC0zNjEgMzYxdjEyOHEwIDEzMi05NCAyMjZ0LTIyNiA5NHEtNTUgMC0xMDktMTlsLTk2IDk2cTk3IDUxIDIwNSA1MSAxODUgMCAzMTYuNS0xMzEuNXQxMzEuNS0zMTYuNXYtMTI4cTAtMjYgMTktNDV0NDUtMTkgNDUgMTkgMTkgNDV2MTI4cTAgMjIxLTE0Ny41IDM4NC41dC0zNjQuNSAxODcuNXYxMzJoMjU2cTI2IDAgNDUgMTl0MTkgNDUtMTkgNDUtNDUgMTloLTY0MHEtMjYgMC00NS0xOXQtMTktNDUgMTktNDUgNDUtMTloMjU2di0xMzJxLTEyNS0xMy0yMzUtODFsLTI1NCAyNTRxLTEwIDEwLTIzIDEwdC0yMy0xMGwtODItODJxLTEwLTEwLTEwLTIzdDEwLTIzbDEyMzQtMTIzNHExMC0xMCAyMy0xMHQyMyAxMGw4MiA4MnExMCAxMCAxMCAyM3QtMTAgMjN6bS0zODAtMTMybC02MjEgNjIxdi01MTJxMC0xMzIgOTQtMjI2dDIyNi05NHExMDIgMCAxODQuNSA1OXQxMTYuNSAxNTJ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}

#mumble-widget-container.grayscale .priority-speaker-on {
  background-image: : url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNzI4IDY0N3EwIDIyLTI2IDQ4bC0zNjMgMzU0IDg2IDUwMHExIDcgMSAyMCAwIDIxLTEwLjUgMzUuNXQtMzAuNSAxNC41cS0xOSAwLTQwLTEybC00NDktMjM2LTQ0OSAyMzZxLTIyIDEyLTQwIDEyLTIxIDAtMzEuNS0xNC41dC0xMC41LTM1LjVxMC02IDItMjBsODYtNTAwLTM2NC0zNTRxLTI1LTI3LTI1LTQ4IDAtMzcgNTYtNDZsNTAyLTczIDIyNS00NTVxMTktNDEgNDktNDF0NDkgNDFsMjI1IDQ1NSA1MDIgNzNxNTYgOSA1NiA0NnoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
}

/* Obsidian */
#mumble-widget-container.obsidian table {
  font-family: Consolas, Inconsolata, Monaco, monospace;
  font-size: 10pt;
  background-color: #3F4E49;
  color: #fff;
}

#mumble-widget-container.obsidian table caption {
  text-align: center;
  font-size: 30px;
  padding: .75em;
}

#mumble-widget-container.obsidian table thead th,
#mumble-widget-container.obsidian table tbody td,
#mumble-widget-container.obsidian table tr td {
  border-top: 1px solid #555;
}

#mumble-widget-container.obsidian table .subchannels {
  background: #293134;
  color: #678CB1;
}

#mumble-widget-container.obsidian table .sub-users,
#mumble-widget-container.obsidian table .root-users {
  background: #3F4E49;
  color: #fff;
}

#mumble-widget-container.obsidian table thead {
  background-color: #22282A;
  color: #F1F2F3;
}

#mumble-widget-container.obsidian table thead a {
  color: #93C763;
  text-decoration: none;
}

#mumble-widget-container.obsidian .deaf-on,
#mumble-widget-container.obsidian .self-deaf-on {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMjgwIDM1MnYxMDg4cTAgMjYtMTkgNDV0LTQ1IDE5LTQ1LTE5bC0zMzMtMzMzaC0yNjJxLTI2IDAtNDUtMTl0LTE5LTQ1di0zODRxMC0yNiAxOS00NXQ0NS0xOWgyNjJsMzMzLTMzM3ExOS0xOSA0NS0xOXQ0NSAxOSAxOSA0NXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
}

#mumble-widget-container.obsidian .mute-on,
#mumble-widget-container.obsidian .self-mute-on {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik00NjMgOTQ1bC0xMDEgMTAxcS00Mi0xMDMtNDItMjE0di0xMjhxMC0yNiAxOS00NXQ0NS0xOSA0NSAxOSAxOSA0NXYxMjhxMCA1MyAxNSAxMTN6bTExMTQtNjAybC0zNjEgMzYxdjEyOHEwIDEzMi05NCAyMjZ0LTIyNiA5NHEtNTUgMC0xMDktMTlsLTk2IDk2cTk3IDUxIDIwNSA1MSAxODUgMCAzMTYuNS0xMzEuNXQxMzEuNS0zMTYuNXYtMTI4cTAtMjYgMTktNDV0NDUtMTkgNDUgMTkgMTkgNDV2MTI4cTAgMjIxLTE0Ny41IDM4NC41dC0zNjQuNSAxODcuNXYxMzJoMjU2cTI2IDAgNDUgMTl0MTkgNDUtMTkgNDUtNDUgMTloLTY0MHEtMjYgMC00NS0xOXQtMTktNDUgMTktNDUgNDUtMTloMjU2di0xMzJxLTEyNS0xMy0yMzUtODFsLTI1NCAyNTRxLTEwIDEwLTIzIDEwdC0yMy0xMGwtODItODJxLTEwLTEwLTEwLTIzdDEwLTIzbDEyMzQtMTIzNHExMC0xMCAyMy0xMHQyMyAxMGw4MiA4MnExMCAxMCAxMCAyM3QtMTAgMjN6bS0zODAtMTMybC02MjEgNjIxdi01MTJxMC0xMzIgOTQtMjI2dDIyNi05NHExMDIgMCAxODQuNSA1OXQxMTYuNSAxNTJ6IiBmaWxsPSIjZmZmIi8+PC9zdmc+);
}

#mumble-widget-container.obsidian .priority-speaker-on {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNzI4IDY0N3EwIDIyLTI2IDQ4bC0zNjMgMzU0IDg2IDUwMHExIDcgMSAyMCAwIDIxLTEwLjUgMzUuNXQtMzAuNSAxNC41cS0xOSAwLTQwLTEybC00NDktMjM2LTQ0OSAyMzZxLTIyIDEyLTQwIDEyLTIxIDAtMzEuNS0xNC41dC0xMC41LTM1LjVxMC02IDItMjBsODYtNTAwLTM2NC0zNTRxLTI1LTI3LTI1LTQ4IDAtMzcgNTYtNDZsNTAyLTczIDIyNS00NTVxMTktNDEgNDktNDF0NDkgNDFsMjI1IDQ1NSA1MDIgNzNxNTYgOSA1NiA0NnoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
}
